/* Created by: Olivia B-R
* Created on: may 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: rgb(0 255 208);
}

.page-content {
  color: rgb(2 40 79);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.page-content-answer {
  color: rgb(189 156 254);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.right-image {
  height: auto;
  width: 250px;
  float: right;
}

body {
  background-color: rgb(171, 116, 239);
}

img {
  float: right;
  width: 600px;
  height: auto;
}